allow from all

RewriteEngine on
Options +Followsymlinks -Indexes

ReWriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
ReWriteRule .* - [F] 

RewriteCond %{REQUEST_FILENAME}        !-f
RewriteCond %{REQUEST_FILENAME}        !-d
RewriteRule ^(.+)$                    index.php?__url=$1 [L,QSA]

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

php_value max_input_vars 100000
php_value upload_max_filesize 32M
php_value post_max_size 32M


AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html

AddDefaultCharset UTF-8
